h1 {
    color: rgb(55, 97, 13);
}

h2 {
    color: rgb(11, 53, 11);
}

h3, h4 {
    color: rgb(17, 17, 80);
}

p {
    border: 1px solid black;
}
.Paragrafo-verde {
    color: rgba(13, 156, 108, 0.986);
    text-align: center;
}

#p-especial {
    color: gold;
}
#nanana {
    color: red;
    border: 1px solid black;
}

img {
    border: 3px solid black;
    width: 200;
    height: 300;
}

